/* Styles go here */

.page-header-chp, .page-header-space {
    height: 250px;
}

.page-footer, .page-footer-space {
    height: 320px;

}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*border-top: 1px solid lightgrey;  *//* for demo */
    /*background: yellow; *//* for demo */
}

.page-header-chp {
    position: fixed;
    top: 0mm;
    width: 100%;
    /*border-bottom: 1px solid lightgrey;  *//* for demo */
    /*background: yellow; *//* for demo */
}

.page {
    page-break-after: always;
}

@page {
    margin: 2mm
}

@media print {
    thead {display: table-header-group;}
    tfoot {display: table-footer-group;}
    button {display: none;}
    body {margin: 0;}
}